@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
</div>

<table class="table table-borderless table-responsive-md">
    <tbody>
        <tr>
            <td>
                Name:
            </td>
            <td>
                Radka Laštovičková
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                <a href="mailto:Radka.lastovickova@post.cz">Radka.lastovickova@post.cz</a>
            </td>
        </tr>
        <tr>
            <td>
                School:
            </td>
            <td>
                AIK2, 2.ročník<br />
                Vyšší odborná škola zdravotnická, managementu a veřejnosprávních studií, s.r.o. <br />
                Ledecká 1365/35, 323 21 Plzeň
            </td>
        </tr>
    </tbody>
</table>